# List of project dependencies
pytest==8.3.2
flake8==7.1.1
pandas==2.2.3
numpy==2.2.3
websockets==15.0.1
pyarrow==21.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
python-dotenv==1.0.1
requests==2.32.3
pyyaml>=6.0
# dev-only (optional)
types-PyYAML>=6.0
